#wrap {
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
}
#button {
  padding: 20px;
  text-align: center;
}
#input {
  padding: 20px;
  text-align: right;
}
.row {
  padding-left: 150px;
  padding-bottom: 10px;
  text-align: left;
}
